.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}


 

*{
background-color: orange; 
}

 .container{
   margin-top: 10px;
 }

 .row{
  margin-top: 10px;
 }

 .input{
   margin-top: 30px;
   margin-right: 3px;
   background-color: white;
   border: none;
   width: 50%;
 }

 .button{
   background-color:  black;
   color: white;
   font-weight: bolder;
  align-content: center;
   margin-left: 10px;
 }

 .button2{
  background-color:  black;
  color: white;
  float: right;
  height: 25px;
  align-content: center;
  font-weight: bolder;

 }

 .task{
   margin-top: 30px;
   width: 50%;
   background-color: orange;
   justify-content: center;
   margin-left: auto;
   margin-right: auto;
   display: flex;
 }

 .para{
  background-color: white;
  border: 1p solid orangered;
  background-color: orange;
  height: 25px;
margin-right: 50px;
color: white;
font-weight: bolder;
 }